{% extends 'base.html' %}


{% block title %}
Burung
{% endblock title %}

{% block style %}
<style>
    body {
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(0, 255, 179);
    }
    h1 {
        text-align: center;
        color: rgb(53, 122, 99);
    }
    h2{
        color: rgb(53, 122, 99);
    }
    p {
        font-size: 20px;
        color: rgb(53, 122, 99);
    }
    header a + a:before {
        content: " | ";
        margin: 0 5px;
    }
    header a {
        text-decoration: none;
    }
    ul {
        font-size: 20px;
    }
</style>
{% endblock style %}

{% block menu %}
{% endblock menu %}

{% block content %}
<h1>TEMPAT HABITAT BURUNG</h1>
<h2>Ada Beberapa Burung yang Terjaga Habitatnya di Satwa Kebun Binatang Can Dang</h2>
<ul>
    <li>Burung Pipit Sawah</li>
</ul>

<p>
    Burung Pipit Sawah (Sawah Pipit) adalah salah satu jenis burung yang sering ditemukan di daerah sawah dan lahan pertanian. Burung Padi memiliki panjang tubuh sekitar 13-14 cm dan berat sekitar 11-13 gram, dengan bulu yang coklat kekuningan pada bagian atas tubuh dan coklat muda pada bagian bawah tubuh.Burung Padi biasanya mencari makan di permukaan tanah, dan memakan serangga, biji-bijian, dan invertebrata kecil lainnya. Mereka biasanya membuat sarang di antara guludan padi atau di atas rumput yang tumbuh di sawah, dan biasanya bertelur sebanyak 3-5 butir. Burung Padi biasanya berbiak di musim hujan dan dapat ditemukan di daerah Asia Selatan dan Asia Tenggara, termasuk Indonesia. Burung Padi tergolong burung yang mudah dikenal dan banyak diminati oleh para pemerhati burung karena keindahan dan keberadaannya yang sering ditemukan di daerah persawahan dan pertanian.
</p>

<ul>
    <li>Tekukur</li>
</ul>

<p>
    Tekukur atau Zebra Dove adalah burung pengicau yang umum ditemukan di wilayah Asia Tenggara, termasuk di Indonesia. Mereka dikenal dengan ciri khasnya yang memiliki corak belang-belang hitam putih di sekitar leher dan perut, sehingga disebut juga sebagai burung belang. Tekukur biasanya memiliki ukuran tubuh sekitar 22-25 cm dan berat sekitar 60-80 gram. Burung Tekukur biasanya hidup di daerah terbuka seperti taman, kebun, hutan sekunder, serta daerah perkotaan dan pedesaan. Mereka memakan biji-bijian, buah-buahan, dan serangga kecil. Burung Tekukur biasanya bertelur sebanyak 2 butir dan membuat sarang di tanah atau di tempat yang rendah seperti semak-semak.
</p>

<ul>
    <li>Gelatik Jawa</li>
</ul>

<p>
    Gelatik jawa atau Padda oryzivora adalah sejenis burung pengicau berukuran kecil, dengan panjang lebih kurang 15 cm, dari suku Estrildidae. Burung gelatik Jawa memiliki kepala hitam, pipi putih dan paruh merah yang berukuran besar. Burung dewasa mempunyai bulu berwarna abu-abu, perut berwarna coklat kemerahan, kaki merah muda dan lingkaran merah di sekitar matanya. Burung jantan dan betina serupa. Burung muda berwarna coklat. Burung ini endemik dari Indonesia dan di alam ditemukan di hutan padang rumput, sawah dan lahan budidaya di Pulau Jawa dan Pulau Bali. Sekarang, spesies ini dikenali di banyak negara di seluruh dunia sebagai burung hias. Perilakunya senang berkelompok dan cepat berpindah-pindah. Pakan utama burung ini adalah bulir padi atau beras, juga biji-bijian lain, buah, dan serangga. Burung betina menetaskan antara empat sampai enam telur berwarna putih, yang dierami oleh kedua tetuanya.
</p>
{% endblock content %}
