{% extends 'base.html' %}


{% block title %}
Kucing
{% endblock title %}

{% block style %}
<style>
    body {
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(193, 235, 222);
    }
    h1 {
        text-align: center;
        color: rgb(53, 122, 99);
    }
    h2{
        color: rgb(53, 122, 99);
    }
    p {
        font-size: 20px;
        color: rgb(53, 122, 99);
    }
    header a + a:before {
        content: " | ";
        margin: 0 5px;
    }
    header a {
        text-decoration: none;
    }
    ul {
        font-size: 20px;
    }
</style>
{% endblock style %}

{% block menu %}
{% endblock menu %}

{% block content %}
<h1>TEMPAT HABITAT KUCING</h1>
<h2>Ada Beberapa Macam Kucing di Kebun Binatang Can Dang</h2>
<ul>
    <li>Kucing Pasaran</li>
</ul>

<p>
    Istilah kucing ras domestik sebenarnya merujuk pada kucing kampung atau kucing rumahan yang sering ditemukan di Indonesia. Telinga berbentuk segitiga dan bulu yang didominasi warna putih merupakan ciri khas kucing ini. Kucing domestik lebih mudah dipelihara dan tidak memerlukan perawatan khusus karena tidak memiliki karakteristik yang khas.
</p>

<ul>
    <li>Persia</li>
</ul>

<p>
    Kucing persia adalah ras kucing domestik berbulu panjang dengan karakter wajah bulat dan moncong pendek. Namanya mengacu pada Persia, nama lama Iran, di mana kucing serupa ditemukan. Sejak akhir abad 19, kucing jenis ini dikembangkan di Britania Raya dan Amerika Serikat usai Perang Dunia II.[1] Di Britania Raya, ras ini disebut kucing bulu panjang persia, dibagi dalam dua jenis, yaitu Chinchilla dengan warna perak cerah dan yang agak gelap. Seperti halnya dengan ras siam, telah ada upaya oleh beberapa peternak untuk melestarikan ras kucing yang lebih tua, ras tradisional, yang memiliki moncong lebih jelas, yang lebih akrab dengan masyarakat umumnya. Pembiakan selektif yang dilakukan oleh peternak telah memungkinkan pengembangan berbagai warna bulu, tetapi juga menyebabkan makin datarnya wajah, yang mungkin membawakan sejumlah masalah kesehatan. Penyakit ginjal polikistik turunan lazim dialami oleh ras ini, yang memengaruhi hampir separuh populasinya di beberapa negara.
</p>

<ul>
    <li>Anggora</li>
</ul>

<p>
    Anggora sangat dikagumi karena bulunya yang panjang, halus, dan tampak berkilau saat bergerak. Dibalik bulunya yang mempesona, tubuhnya juga kokoh, panjang, dan berotot. Kakinya panjang, dengan kaki belakang lebih panjang dari kaki depan, dan cakarnya kecil, bulat dan mungil, seringkali dengan jambul bulu di antara jari-jari kakinya. Tidak hanya itu, hal yang paling berkontribusi terhadap kecantikan kucing ini adalah kepalanya yang berbentuk lancip berukuran kecil hingga sedang. Telinganya besar berada di atas kepala dan berjumbai dengan bulu. Belum lagi mata besarnya berbentuk almond yang agak miring ke atas. Warna matanya tak kalah memikat Anda, bisa berwarna biru, hijau, emas, kuning atau bahkan ganjil (satu mata biru dan satu mata hijau, hijau-emas atau kuning)
</p>
{% endblock content %}
